{# src/Surikat/BookingBundle/Resources/views/Booking/form.html.twig #}
<div class="container">
	<div class="row">
		<div class="col-md-12">
    	 <div class="pad15"><br>
                                <div class="col-md-3 md-input">
                                    <input class="md-form-control" required="" type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Nom</label>
                                </div>
                                <div class="col-md-3  md-input">
                                    <input class="md-form-control" required="" type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Prénom</label>
                                </div>
                                <div class="col-md-3  md-input">
                                    <input class="md-form-control" required="" type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Date</label>
                                </div>
                                <div class="col-md-3  md-input">
                                    <input class="md-form-control" required="" type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Nationalité</label>
                                </div>

		</div>
	</div>
</div>  
