{# src/Surikat/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "SurikatBookingBundle::layout.html.twig" %}

{% block title %}Index Booking Engine{% endblock %}
<!-- Page Content -->
{% block body %}{{ parent( )}}
<div class="container">
  <p> Contenu</p>
</div>
{% endblock%}
