{# src/Surikat/BookingBundle/Resources/views/Booking/new_booking.html.twig #}

{% extends "SurikatBookingBundle::layout.html.twig" %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}{{ parent() }}
  <h1>Welcome to the Booking:NewBooking page</h1>
{% endblock %}
