{# src/Surikat/BookingBundle/Resources/views/Booking/show.html.twig #}

{% extends "SurikatBookingBundle::layout.html.twig" %}

{% block title %}Ma Réservation{% endblock %}

{% block body %}{{ parent() }}
<h1>Welcome to the Booking:Show page</h1>

  <ul>
      <li>Recherche de Réservation</li>
  </ul>

{% endblock %}

	{% block javascripts %}{{ parent() }}
  
   	<script src="{{ asset('assets/js/script.js') }}"></script>

  	{% endblock %}
