{# src/Surikat/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "SurikatBookingBundle::layout.html.twig" %}

{% block title %}Home Sweat Home{% endblock %}

{% block body %}{{ parent( )}}
<h1>Welcome to the Home Page</h1>



{% endblock %}
